*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/res/drawable-xxhdpi/
/app/src/main/res/drawable-mdpi/
/app/src/main/res/drawable-xhdpi/
/app/src/main/res/drawable-hdpi-v9/
/app/src/main/res/drawable-mdpi-v9/
/app/src/main/res/drawable/
/app/src/main/res/drawable-hdpi-v11/
/app/src/main/res/drawable-hdpi/
/app/src/main/res/drawable-xhdpi-v9/
/app/src/main/res/drawable-mdpi-v11/
/app/src/main/res/drawable-xhdpi-v11/
/app/src/main/res/drawable-xxhdpi-v9/
/app/src/main/res/drawable-xxhdpi-v11/
